#searchButton {
  width: 60px;
  height: 20px;
  margin-top: 5px;
}
#inputContainer {
  display: flex;
  flex-direction: column;
}
#inputField {
  width: 30vw;
  margin-top: 15px;
}
#prevBtn {
  width: 10%;
  height: 20px;
  margin-top: 5px;
  display: none;
}
#nextBtn {
  width: 10%;
  height: 20px;
  margin-top: 5px;
  display: none;
}
#nextPreviousPageDiv {
  display: flex;
  flex-wrap: wrap;
}
